
h1{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5%;
}

 ion-content{
    --ion-background-color: rgb(255, 255, 255);
 
}

//overall box for buttons bus and taxi
.kutakatas{
    display: block;


    
    .btn{

        padding-top: 10%;
        padding-right: 5%;
        padding-left: 5%;
        padding-bottom: 2%;
    
    
         ion-button{
             height: 90%;
             width: 65%;
             margin-left: auto;
             margin-right: auto;
             display: block;
             padding: none;
             --background: rgb(206, 206, 206);
             --background-activated:rgb(224, 243, 255);
             --box-shadow: 20px 20px 50px rgb(177, 177, 177);
             --background-activated:rgb(224, 243, 255);
         

         .bawah{
                 padding: 0px;
                
         
                 img{
                     width: 60%;
                     height: 60%;
                     padding: 3%;          
                 }
    
    
                     h1{
                         font-family: Arial, Helvetica, sans-serif;
                         font-size: 20px;    
                     }
                     
             }
         }
     }
    
    
}

