<ion-content padding>

  <ion-text color="dark" >
      <h1>Choose your vehicle:</h1>         
  </ion-text>



<div class="kutakatas">

 
      <div class="btn">
  
          <ion-button fill="clear"  [routerLink] = "['/homepage']">
        
            <div class="bawah">
              
              <img src="assets\bus pointer.png">
        
              <ion-text color="dark" >
                  <h1>BUS</h1>         
              </ion-text>
        
            </div>
        
          </ion-button>  
        
        </div>



        <div class="btn">
      
     
            <ion-button fill="clear"  >
          
              <div class="bawah">
          
                <img src="assets\taxi.png">
          
                <ion-text color="dark" >
                    <h1>TAXI</h1>         
                </ion-text>
          
              </div>
          
            </ion-button> 
        
          </div>




</div>
 
 
    
    

    
 





</ion-content>
